.boja {
    color: black;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
}

.linkovi {
    color: cornsilk;
    background-color: lightskyblue;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    text-decoration: none;
    border-style: solid;
    border-color: #14274e;
    margin-right: 1170;
}

.linkovi:hover {
    background-color: lightskyblue;
    color: azure;
}

.naslov {
    color: white;
    background-color: #14274e;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 700;
    margin-right: 700;
    border-radius: 20px;
    font-size: 50px;
}


.naslov1 {
    background-color: lightskyblue;
    margin-right: 1750px ;
    color: black;
    text-align: left; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}
.naslov1 {
    border-style: solid;
    border-color: #14274e;  
}

.pp {
    color: black;
    text-decoration: none;
    margin: 10px;
}
.pp:hover {
    background-color: darkgrey;
}

.t {
    color: black;
    text-decoration: none;
    margin: 10px;
}
.t:hover {
    background-color: darkgrey;
}

.s {
    color: black;
    text-decoration: none;
    margin: 10px;
}
.s:hover {
    background-color: darkgrey;
}

.ig {
    color: black;
    text-decoration: none;
    margin: 10px;
}
.ig:hover {
    background-color: darkgrey;
}

.back {
    background-color: lightskyblue;
    margin-right: 1835px;
    color: black;
    text-align: left; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
    font-size: x-large; 
    text-decoration: none;
    border-radius: 5px;
    border-style: solid;
    border-color: #14274e;  
}
.back:hover {
    background-color: darkgrey;
}

.stadiontekst {
    color: black;
    text-align: left;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
}
.dres {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 330px;
    font-size: x-large;

}

.grb {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 1388px;
    font-size: x-large;
    margin-top: -50px;
}


.trofejitekst{
    color: black;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
}

body {
    background-color: bisque;
}












