.boja {
    color: navy;
    background-color: rgb(228, 198, 31);
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}

.linkovi {
    color: cornsilk;
    background-color: blueviolet ;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid navy;
    border-radius: 5px;
    font-size: large;
    text-decoration: none;
}

.linkovi:hover {
    background-color: gold;
    color: azure;
}

.naslov {
    color: white;
    background-color: navy;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}


.naslov1 {
    background-color: navy;
    margin-right: 1775px ;
    color: white;
    text-align: left; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}

.pp {
    color: beige;
    text-decoration: none;


}
.pp:hover {
    background-color: lightskyblue;
}

.t {
    color: beige;
    text-decoration: none;
}
.t:hover {
    background-color: lightskyblue;
}

.s {
    color: beige;
    text-decoration: none;
}
.s:hover {
    background-color: lightskyblue;
}

.ig {
    color: beige;
    text-decoration: none;
}
.ig:hover {
    background-color: lightskyblue;
}






